*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: #384047;
}

form {
    max-width: 300px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
}

h1 {
    margin: 0 0 30px 0;
    text-align: center;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 0 4px 8px 0;
}

select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
}

button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #000000;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 0px solid ;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    margin-bottom: 10px;
}

fieldset {
    border: none;
}

legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 8px;
}

label.light {
    font-weight: 300;
    display: inline;
}

.number {
    background-color: #061e48;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    border-radius: 100%;
}

@media screen and (min-width: 480px) {
    form {
        max-width: 480px;
    }
}


/*f1*/

#f1{
    margin-bottom: 30px;
}

#header-f1{

    width:100%;

}

.centered{

    display: block;
    width: 70%;
    height: auto;
    margin: 20px auto;
}

.centered-concierge{

    display: block;
    width: 50%;
    height: auto;
    margin: 20px auto;
}

.f1{
    max-width: 1170px;
    margin: 0 auto;
}

hr{
    display: block;
    width:70%;
    margin: 20px auto;
    border-style: solid;
    border-width: 3px;
    color: #d0d2d3;
}

.final-hr{
    display: block;
    width:100%;
    margin: 20px auto;
    border-style: solid;
    border-width: 5px;
    color: #d0d2d3;
}

body>footer a.button {
    background-color: #000000;
}

main .panels>div.icon {
    background-color: #4f4c4d;
}

main .panels>div.icon.inverted {
    color: #000000;
}

header {
    background-color: #000000;
}

#login{

    -ms-flex: 1 1;
    flex: 1 1;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2rem;
    cursor: pointer;
    border-left: 4px solid #fff;
    display: flex;
    align-items: center;


}

.header-a{

    -ms-flex: 1 1;
    flex: 1 1;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2rem;
    cursor: pointer;
    border-left: 4px solid #fff;
    display: flex;
    align-items: center;
}

.header-a:first-child {

    border-left: 0px solid #fff;

}

@media only screen and (max-width: 500px) {
    header nav a {
        font-size: 1rem !important;
        border: 0 !important;
    }
}

a:link
{
    color:#FFFFFF;
    text-decoration: none;
}

a:visited
{
    color:#FFFFFF;
    text-decoration: none;

}

a:hover
{
    color:#FFFFFF;
    text-decoration: none;

}

main .panels>div.big-image h3 {
    color:#414042;
}

body>footer h3 {
    color: #414042;
}

.forgot{
    color: #41404288 !important;
    margin-left: auto;
    margin-right: auto;
    width: 160px;
    text-align: center;
    display: block;
    margin-top: 10px;
    padding-bottom: 20px;
}

.forgot-container{
    width: 100%;
}